:root{
    font-size: 62.5%;
}

html{
    background-color: #95a5a6;
    font-family: Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

form{
    width: 35rem;
    height: 30rem;
    margin: 0 auto;
    padding-top: 4rem; 
    padding-bottom: 2rem;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;

}

legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    
}

fieldset{
    border: none;
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
    padding-top: 3rem;
}

input,label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    margin-top: 1rem;
    font-size: 1.8rem;
}

input{
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.8rem;
    font-size: 1.4rem;
    border: 1px solid #bbb;
    cursor: text;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}

.btn{
    background-color: rgb(186, 186, 223);
    cursor: pointer;
}

.btn2{

    background-color: rgb(186, 186, 223);
    cursor: pointer;
}

