:root{
    font-size: 62.5%;
    --primarycolor: #ff7833;
    --secondarycolor: #31333b;
    --thirdcolor: #444856;
    --textcolor: #e7e7e7;
    --bordercolor: #9b9696;
    font-family: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100%;
}

header{
    height: 100vh;
}

.hero{
    flex-grow: 1;
    height: 100vh;
    background-color: var(--thirdcolor);
}

.initial-menu{
    width: 26rem;
    min-height: 100vh;
    background-color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    padding: 4rem 2rem 0 0;
    overflow: hidden;
}
    

.list-initial-menu{
    text-transform: capitalize;
    font-size: 1.6rem;
    list-style: none;
    width: 90%; 
    height: 100%;
    
}

.list-initial-menu li{
    border-bottom: 1px solid var(--bordercolor);
    text-align: right;
    padding: 1.2rem 0;
    cursor: pointer;
    transition: ease-in-out .2s;
    
}

.list-initial-menu li:hover{
    background-color: var(--thirdcolor);
    padding-right: 1rem;
    
}

.list-initial-menu a{
    text-decoration: none;
    color: var(--textcolor);
    
}

.profile-img{
    width: 10rem;
}

.hero-content{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    
}

.hero-content h1{
    font-size: 6rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3rem;
    color: #8a8791;
}

.content h2, h3, a{
    color: var(--primarycolor);
    letter-spacing: .2rem;
}

.content h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.content h3, a{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.content p{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
    color: var(--textcolor);
}

address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

address h3{
    font-size: 1.8rem;
}

.midia a{
    color: var(--textcolor);
    font-size: 1.6rem;
}
